.profile{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.followingDiv{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    height: 40px;
    cursor: pointer;
    border: var(--border03);
    transition: all 0.2s;
}

.followingDiv:hover{
    background-color: var(--hover-color);
    
}