.users {
  padding: 2px;
  grid-gap: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.user {
  cursor: pointer;
  height: 63px;
  border: 1px solid black;
  padding: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10px;
  border: var(--border03);
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s;
}
.user:hover {
  background-color: var( --hover-color);
}
.userAva  {
  width: 50px;
  border-radius: 50%;
  height: 50px;
  margin: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  display: block;

}


.userAvaDiv {
  overflow: hidden;
  position: relative;
  width: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0;
  border-radius: 50%;
}
.userInfo {
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-gap: 5px;
}
.userNameDiv {
  display: flex;
  flex-direction: column;
  
}
.userName {
  font-weight: 600;
}
.userStatus {
  overflow: hidden;
  white-space: nowrap;
  font-weight: 200;
  width: 550px;
  text-overflow: ellipsis;
  
}
.userLink {
  text-decoration: none;
  color: var(--text-color);
}

.userLink:hover .userName {
  font-weight: 700;
}

.followBtnDiv {
  font-weight: 700;
}

.followBtnDiv:hover {
  /* transform: scale(1.1); */
}
.imgOpenbtn {
  text-align: center;
  align-items: center;
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: -20px;
  background-color: rgba(255, 255, 255, 0.7);
  transition: transform 0.2s;
}

.lupa {
  width: 10px;
  transition: transform 0.2s;
}
.imgOpenbtn:hover .lupa {
  transform: scale(1.3);
}

.userAvaDiv:hover .imgOpenbtn {
  transform: translateY(-20px);
}


@media (max-width: 960px) {
  .userStatus{
    width: 400px;
  }
}