.user {
  cursor: pointer;
  min-height: 85px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: var(--border03);
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s;
}
.user:hover {
    background-color: var(--hover-color);
}
.userInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;

}
.userAvaDiv {
  overflow: hidden;
  position: relative;
  width: 70px;
  height: 70px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}
.userAvaDiv:hover .imgOpenbtn {
  transform: translateY(-25px);
}
.userAva {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.imgOpenbtn {
  width: 100%;
  height: 25px;
  position: absolute;
  bottom: -25px;
  background-color: rgba(255, 255, 255, 0.7);
  background-image: url('./../../../photos/lupa.svg');
  background-position: center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  transition: all 0.1s;
}
.imgOpenbtn:hover{
  background-size: 23px 23px;

}
.userNameAndStatusDiv {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 400px;
  
}
.userName {
  transition: all 0.2s;
  font-weight: 400;
  font-size: 18px;
  margin: 0;

}
.userStatus {
  overflow: hidden;
  font-size: 16px;
  white-space: nowrap;
  font-weight: 200;
  text-overflow: ellipsis;
  margin: 0;
}
.userLink {
  text-decoration: none;
  color: var(--text-color);
}
.userLink:hover .userName {
  font-weight: 600;
}
.followBtn {
  border: var(--border03);
  border-radius: 5px;
  width: 85px;
  height: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 13px;
  font-weight: 500;
}


@media (max-width: 960px) {
  .userNameAndStatusDiv {
    width: 320px;
  }
}

@media (max-width: 600px) {
  .userNameAndStatusDiv {
    width: 200px;
  }
}
@media screen and (max-width: 400px) {
  .userNameAndStatusDiv {
    width: 150px;
  }
}
