.header {
  grid-area: header;
  height: 50px;
  display: flex;
  flex-direction: row;
  padding: 4px 10px;
  justify-content: space-between;
  width: 939px;
  z-index: 1;
  position: fixed;
  top: 1px;
  border: var(--border05);
  border-radius: 10px;
  background-color: var(--bg-color);
}
.logoDiv {
}

.searcherDiv {
  width: 300px;
}

.loginNav {
  text-decoration: none;
  border: var(--border03);
    color: var(--color);
    border-radius: 5px;
    width: 85px;
    height: 45px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s;

}
.loginNav:active{
  transform: scale(0.9);
}

.headerNavbar {
  position: relative;
  display: none;
  flex-direction: row;
  height: 50px;
  grid-gap: 10px;
}

.nav {
  height: 40px;
  width: 40px;
}

.navImg {
  margin: 0;
  width: 40px;
  height: 40px;
  opacity: 0.7;
}

.lineDiv {
  position: absolute;
  width: 40px;
  bottom: 0;
  left: 0;
  border-bottom: 3px solid rgba(255, 255, 255, 0.7);
  transition: all 0.3s;
  -webkit-box-shadow: 0px -15px 15px 3px rgba(255, 255, 255, 0.7),
    0px -30px 15px 3px rgba(255, 255, 255, 0.7),
    0px -40px 15px 3px rgba(255, 255, 255, 0.7);
  box-shadow: 0px -15px 15px 3px rgba(255, 255, 255, 0.7),
    0px -30px 15px 3px rgba(255, 255, 255, 0.7),
    0px -40px 15px 3px rgba(255, 255, 255, 0.7);
}

.line1 {
  left: 0;
}
.line2 {
  left: 50px;
}
.line3 {
  left: 100px;
}
.line4 {
  left: 150px;
}
.homeImg {
  width: 46px;
  opacity: 0.7;
}
.homeImg:active {
  transform: scale(0.9);
}

@media screen and (max-width: 960px) {
  .headerNavbar {
    display: flex;
  }
  .header {
    width: 578px;
  }
  .logoDiv {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .header {
    width: auto;
    position: relative;
  }
}
