.navbar {
  grid-area: navbar;
  padding: 10px;
  width: 180px;
  border: var(--border05);
  border-radius: 10px;
  background-color: var(--bg-color);

  
}

.nav {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 20px;
}
.nav:hover{

}
.active {
  font-weight: 900;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-size: 20px;
  position: relative;

}
@media (max-width: 960px) {
  .navbar {
    display: none;
  }
}
