.navbar {
  grid-area: navbar;
  padding: 10px;
  min-width: 180px;
  border: var(--border05);
  border-radius: 10px;
  background-color: var(--bg-color);
  overflow: hidden;
  white-space: nowrap;
  
}
.navDiv{
} 

.nav {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 20px;
  width: 100%;

  transition: all 0.2s;
}




@media (max-width: 960px) {
  .navbar {
    display: none;
  }
}
