.profilePhoto {
  border-radius: 5px;
  padding: 5px;
}
.avaBtnDiv {
  border: 1px solid black;
  width: 350px;
  border-radius: 5% 5% 5% 5%;
  overflow: hidden;
}
.avaDiv {
  position: relative;
}
.ava {
  width: 350px;
  display: block;
  border-radius: 0 0 0 0;
  cursor: pointer;
}

.photoInp {
  display: none;
}
.inpBtn {
  width: 100%;
  text-align: center;
  background-color: var(--hover-color);
  cursor: pointer;
  font-weight: 700;
  margin: 0;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
transition: filter 0.2s;
}
.inpBtn:hover{
  filter: drop-shadow(0px 1px 7px rgba(255, 255, 255, 1));

}
.increaseDiv {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  transition: opacity 0.3s;
  opacity: 0;
  cursor: pointer;
}

.increaseDiv:hover {
  opacity: 0.5;
}
.increaseImg {
  transition: transform 0.3s;
  width: 35px;
}
.increaseImg:hover {
  transform: scale(1.5);
}
@media screen and (max-width: 400px) {
  .ava{
    width: 100%;
  }
  .avaBtnDiv{
    width: 100%;


  }
  .increaseDiv {
    width: 100%;

  }
}