.profilePhoto {
  border-radius: 5px;
  padding: 5px;
}
.avaBtnDiv {
  border: var(--border03);
  width: 350px;
  border-radius: 5%;
  overflow: hidden;
}
.avaDiv {
  position: relative;
}
.ava {
  width: 100%;
  display: block;
  border-radius: 0 0 0 0;
  cursor: pointer;
}

.photoInp {
  display: none;
}
.postPhotoBtn {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--bg-color);
  cursor: pointer;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color);
  transition: all 0.2s;
}
.postPhotoBtn:hover {
  background-color: var(--hover-color);
}
.increaseDiv {
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  background-image: url("./../../../../photos/lupa.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  height: 100%;
  position: absolute;
  transition: all 0.3s;
  opacity: 0;
  cursor: pointer;
}

.increaseDiv:hover {
  opacity: 0.5;
}

@media screen and (max-width: 400px) {
  .avaBtnDiv {
    width: 100%;
  }
}
