.profileAboutUser {
  position: relative;
  border-radius: 5px;
  border: 2px solid black;
  padding: 5px;
  word-wrap: break-word;
  font-size: 18px;

}
.fullNameDiv {
  padding: 0;
}
.fullName {
  font-size: 25px;
  font-weight: 500;
  margin: 0;
}

.contactsP {
  font-weight: 700;
}
.contactP {
  padding-left: 10px;
}
.changeInfoBtnDiv {
  height: 40px;
  text-align: center;
  background-color: var(--bg-color);
  cursor: pointer;
  border: var(--border03);
  font-size: 17px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background-color 0.2s;

}
.changeInfoBtnDiv:hover{
  background-color: var(--hover-color);
}
.changeInfoBtnP {
  margin: 0;
}
.seePrefileInfo{
  width: 370px;
  padding: 5px;


}
.contactsDiv {
  font-size: 20px;
  padding-right: 5px;
  padding-bottom: 10px;

}

.contactDiv {
  display: flex;
  flex-direction: row;
  grid-gap: 10px;
}
.contactSpan{
  width: 100px;
}

.contactDiv a{
  text-decoration: none;
  color: var(--text-color);
}
.contactLink{
  overflow: hidden;
  white-space: wrap;
  word-wrap: break-word;

}
.titleDiv{
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  white-space: wrap;
  word-wrap: break-word;
}

.seePrefileInfo{
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
}
.contacts{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  grid-gap: 10px;
}
.toggleContacts{
  cursor: pointer;
  text-align: center;
  margin: 10px;
}
.title{
  min-width: 140px;

}
.titleDiv > p{
  margin: 0;
  overflow: hidden;
  white-space: wrap;
  word-wrap: break-word;
}

