.footer{
    border: 1px solid black;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    border: var(--border05);
    background-color: var(--bg-color);

  }
  .authorContacts{
      padding: 10px;
      display: flex;
      flex-direction: column;
      grid-gap: 10px;
  }
  .contsctDiv{
      display: flex;
      flex-direction: row;
      grid-gap: 5px;
  }
  .iconImg{
      width: 20px;
      transition: filter 0.2s;
    }

  .nickName{
      text-decoration: none;
      color: var(--text-color);
      margin: 0;
      

    
  }
  .email{
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }

  .contsctDiv:hover > .iconImg{
    filter: drop-shadow(0px 1px 7px rgba(255, 255, 255, 1));

  }