.changeProfileInfo {
  width: auto;
  max-width: 370px;
  padding: 5px;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
}
.inpDiv {
  padding-top: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  align-items: center;
}
.inpDiv > p {
  padding-bottom: 5px;
  font-weight: 500;
}

.inpDiv input {
  width: 90%;
border-radius: 3px;
  padding: 0;
  height: 30px;
  font-size: 20px;
  background-color: var(--bg-color);
  border: var(--border03);
  -webkit-box-shadow: inset 0 0 0 50px var(--bg-color);
  -webkit-text-fill-color: var(--text-color);
}

.inpDiv input::placeholder{
  opacity: 0.5;
}


.idDiv input{
 opacity: 0.4;
}
.changeInfoBtn {
  width: 100%;
  height: 40px;
  background-color: var(--bg-color);
  cursor: pointer;
  font-size: 17px;
  font-weight: 700;
transition: background-color 0.2s;
border: var(--border03);
}

.changeInfoBtn:hover{
  background-color: var(--hover-color);
}

.changeInfoBtnP {
  text-align: center;
  margin: 0;
  color: var(--text-color);
}
.lookingForAJobDiv2 > p {
  display: inline;
  font-weight: 500;

  width: 150px;
}
.lookingForAJobDiv2 {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.contactsDiv {

  padding-bottom: 10px;
}
.contacts{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  grid-gap: 10px;
}
.contactsDiv  input {
  width: 90%;
  padding: 0;
  height: 30px;
  font-size: 20px;

}
.contactDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-gap: 10px;
}
.contactSpan{
  width: 100px;
}



.inputAndTitle > p{
  width: 150px;
  margin: 0;
}
.contactToggleImg{
  width: 20px;
  height: 20px;
  transform: translateY(5px);
  opacity: 0.7;

}


.inputAndTitle{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: var(--border03); */

}
.lookingForAJobInput {
  background-color: white;
  display: none;

}
.toggleContacts{
  cursor: pointer;
}

.fakeCheckedDiv{
  display: flex;
  flex-direction: row;
  width: 90%;
  grid-gap: 2%;
}
.lookingForAJobInpP{
  margin: 0;
  border: var(--border03);
  width: 49%;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s;

}
.lookingForAJobInpP:hover{
  border: var(--border05);
}
.active{
  background-color: var(--hover-color);

}
#errorInp{
  border-color: red;
  color: red;
}

@media screen and (max-width: 400px) {
  .changeProfileInfo {
    width: auto;
  }
  .inputAndTitle{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;

  }
  .inputAndTitle input {
    margin: 0;

  }
}