.newsWindow {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}
.newsDiv {
  padding: 5px;
}
.newsDiv:hover {
  background-color: var(--hover-color);
}
.newsA {
  color: var(--text-color);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  grid-gap: 10px;
}
.titlleP {
  font-size: 20px;
  font-weight: 700;
}
.newsDiv p {
  margin: 0;
}
.sourceP {
  font-style: oblique;
}
.sourceA {
  text-transform: lowercase;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
}
.leftDiv {
  min-width: 200px;
}
.noPhotoP {
  text-align: center;
  margin: 0 auto;
}
.rightDiv {
}
.imgDiv {
  width: 200px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.6);
}
.newsImg {
  width: 200px;
  display: block;
}
