.paginator{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    padding-top:10px;
    padding-bottom: 10px;
}
.el{
    padding: 7px;
    border: var(--border03);
    cursor: pointer;
}
.el:hover{
    background-color: var(--hover-color);
}
.active{
    background-color: var(--hover-color);
    border: var(--border05);
}
.btn{
    cursor: pointer;
    padding: 10px;
    width: 80px;
    background-color: var(--hover-color);
    border: 1px solid rgba(255,255,255, 0.3);
    color: rgba(255, 255, 255, 0.5);

}